@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

:root {
  --primary: #EEA47FFF ;
  --secondary: rgb(78, 78, 78);
  --dark: #1d1d1d;
}

body {
  margin: 0;
  padding: 20px;
  font-family: "Poppins";
  background: var(--secondary);
}

* {
  color: #fff;
  margin: 0;
}

p {
  margin: 20px 0;
}

button {
  border: 0;
  padding: 8px;
  border-radius: 4px;
  color:  var(--dark);;
  background: var(--primary);
  cursor: pointer;
}

/* Navbar */
header {
  max-width:1200px;
  margin: 40px auto;
}
.navbar {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0px auto;
}

.nav-links {
  display: flex;
  gap: 16px;
  justify-content: end;
}

.nav-link {
  text-decoration: none;
  padding: 6px;
  border-radius: 6px;
}

.nav-link.active {
  background-color: var(--primary);
  color: var(--dark);
}

.logo {
width: 100px;
object-fit: contain;
}

main {
  max-width: 1200px;
  margin: 40px auto;
}

/* help layout */
.help-layout__nav{
  display: flex;
  justify-content: center;
  gap: 30px;
  margin: 30px auto;
}

.help-layout__nav__link{
  padding: 10px;
  border: 2px solid white;
  border-radius: 4px;
  text-decoration: none;
}

.help-layout__nav__link:hover{
background-color: var(--primary);
}

.help-layout__nav__link.active {
  background-color: var(--primary);
}

/*FAQ*/

.faq__question {
  background-color: rgba(0,0,0, 0.2);
  padding: 5px 20px;
  border-radius: 4px;
  margin: 20px 0px;
}

/*contact form*/
form {
  margin-top: 30px;
}
form input,
form label span,
form textarea {
  display: block;
}

form input,
form textarea{
  margin-bottom: 30px;
  padding: 8px;
  border-radius: 4px;
  border: 0;
  width: 300px;
  color: var(--secondary);
}

form label span {
  margin-bottom: 10px;
}